$xs-max: 575.98px
$md-min: 576px
  
.background
    background-color: lavender
.card
  background-color: #fff3cd
.first-row
  min-height: 90vh

@media (max-width: $xs-max)
  .first-row
    min-height: 87vh
  .card
    margin-top: 8vh